@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/boilerplate-styles/styles/boilerplate.scss";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg.png");
    background-repeat: repeat;
}


#app {
    padding: 3rem;
    background-color: $white;
}


.radio-buttons {

    input {
        position: absolute;
        top: -20px; /* IE 8 doesn't seem to like to update radio buttons that are display:none */

        &:checked + span, &:hover + span {
            background-color: $orange;
            color: $white;
        }
    }

    span {
        cursor: pointer;
        background-color: $white;
        padding: 4px 7px;
    }
}


#grid {
    background-color: red;

    .row {
        display: flex;
    }
}







#profiles {
    position: fixed;
    top: 0px;
    right: 15%;
    display: flex;

    a {
        color: $white;
        padding: 0.125rem 0.3rem;
        background: $black;

        &:hover {
            background: $orange;
            text-decoration: none;
        }
    }

    #blackmesa-logo {
        margin-left: 0.15rem;
        height: 0.7rem;
        vertical-align: baseline;
    }

    .fa-free-code-camp {
        margin-top: 0.25rem;
    }

}